.suscribeContainer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}
.suscribe {
    background-color: #fff;
    padding: 2rem;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    
    
}
.suscribeForm {
    border-bottom: #FDB54E 1px solid;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 50px;
 
}
.suscribeinput {
    border: 1px solid #000;
    padding-left: 10px;
    border-radius: 10px;
}