.suscribeContainer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.suscribe {
    background-color: #fff;
    margin-top: 5rem;
    padding: 2rem 3rem 2rem 2rem;
}
.suscribeForm {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
 
}
.suscribeinput {
    border: 1px solid #000;
    padding-left: 10px;
    border-radius: 10px;
}