.bookingContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 40px;
}
.addandLess{
    display: flex;
    gap: 0.7rem;
    margin-bottom: 40px;
}
@media (max-width: 1000px) {
    .bookingContainer {
        flex-direction: column;
    }
    .addandLess{
        flex-direction: column;
    }
  }