.contact {
    display: flex;
    flex-direction: column;
}
.imagelogo{
    width: 400px;
    height: 400px;
}
@media (max-width: 1000px) {
    .imagelogo{
        width: 200px;
        height: 200px;
    }
}
