.headerContainer{
    background-color: white;
    padding: 0 2rem;  
}
/* Top Header*/
@media (max-width: 500px) {
    .headerTopContainer{
      flex-direction: column-reverse;
      gap: 0.8rem;
    }
  }
.headerTopContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    max-width: 1200px;
    margin: 0 auto; 
    border-bottom: 1.5px solid #000;
}
.headerContactIcons{
    display: flex;
    gap: 0.8rem;
    color: #2e7ff7;
}
.headerButtons{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
/* Navigation*/
.headerNav {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto; 
    align-items: center;
    padding: 2rem;
    gap: 0.3rem;
}
.headerNav a{
    color: #2e7ff7;
    font-size: 1rem;
}
.headerNav a:hover{
    color: #000;
    font-weight: 500;
}