.searchCardContainer{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 3rem;
    margin: 0 auto;;
    max-width: 1000px;
    align-items: center;
    margin: 1rem auto;
    
}
.searchCard{    
    background-color: #fff;
    padding: 2rem 5rem;;
    width: 100%;
}
@media (max-width: 1000px) {
    .searchCard{
        background-color: #fff;
        border-radius: 0.7rem;
        padding: 1rem 10vw;
    }
}
.searchCard h3{
    text-align: center;
    margin-bottom: 0.8rem;
    font-size: 0.7rem;
    font-weight: 600;
    color: #000;
}
.searchCardInput{
   display: flex;
   justify-content: center;
gap: 0.7rem;


}
.searchSelect{
    border: 1px solid #000;
    height: 1.7rem;
    width: 15vw;
    border-radius: 4px;
    padding: 0 10px;
    color:#4c4c4c;
    padding: 0 10px;

}